body {
    margin: 0;
    font-family: Inter, sans-serif;
}

header {
    background-color: #412567;
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
    max-width: 1600px;
    height: 80px;
}

.logo-color {
    color: #fb6e3f;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}

nav li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
}

.btn {
    background: linear-gradient(90deg, #fca746 0%, #fb3f81 100%);
    border: none;
    border-radius: 1000px;
    padding: 10px 10px;
    font-size: 16px;
    color: #FFFFFF;
    align-items: center;
}

.banner {
    background: url(assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 760px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-area {
    position: relative;

}
.circle-image img {
    width: 350px;
    height: 350px;
    display: block;
}

.microphone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.microphone img {
    width: 116px;
    height: 175px;
}

.banner-content{
    text-align: center;
}

.banner-content h1{
    color: #FFFFFF;
    font-size: 60px;
    margin-bottom: 8px;
}
.banner-content p {
    margin-bottom: 24px;
    font-size: 16px;
    color: #FFFFFF;
}
.btn-group{
    display: flex;
    justify-content: center;
    gap: 8px;
    
}

.btn-one{
    display: flex;
    align-items: center;
    gap: 8px;
    padding:12px 20px;
    border-radius: 50px;
    background: linear-gradient(90deg, #fca746 0%, #fb3f81 100%);
    color: #FFFFFF;
    font-size: 16px;
}

.btn-two{
    display: flex;
    align-items: center;
    gap: 8px;
    padding:12px 20px;
    background: transparent;
    border: 2px solid #00FF88;
    border-radius: 50px;
    color: #00FF88;
    font-size: 16px;
}

.podcast-container {
    max-width: 1600px;
    height: 646px;
    background-color: #1A0B2E;
    color: #FFFFFF;
}

.podcast-section {
    text-align: center;
    padding: 50px 200px;
}

.podcast-section h1 {
    font-size: 48px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 16px;
}

.podcast-section p {
    font-size: 16px;
    line-height: 2;
}


.number-section {
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;

}

.number-box h1 {
    font-size: 48px;
    font-weight: bold;
    color: #00FF88;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 16px;
}

.number-box p {
    font-size: 16px;
    color: #FFFFFF;
}

.grid-section {
    max-width: 1600px;
    margin: 0 auto;
    background-color: #230E3D;
}

.grid-section h1 {
    text-align: center;
    color: #FFFFFF;
    font-size: 48px;
    margin: 0 auto;
    padding-top: 100px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-content: center;
    padding: 120px;
}

.grid-box {
    background-color: #351165;
    border-radius: 40px;
    padding: 40px;
}

.grid-box img {
    width: 50px;
    height: auto;
    object-fit: cover;
}

.grid-box h3 {
    font-size: 24px;
    color: #FFFFFF;
}

.grid-box p {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 1.6;
}

.box-1 {
    grid-row: span 2;
}

.box-2 {
    grid-column: span 2;

}

.box-4 {
    grid-column: span 2;
}

.box-5 {
    grid-column: span 1;
}

.video-section {
    padding: 100px 200px 120px 200px;
    background-color: #1A0B2E;
    color: #FFFFFF;
    margin: 0;
}

.video-section h1 {
    text-align: center;
    font-size: 48px;
    margin-bottom: 40px;
}

.video-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.video-box {
    max-width: 380px;
    margin: 0 auto;
    background-color: #250D44;
    border-radius: 20px;
    overflow: hidden;
}

.video-box iframe {
    width: 100%;
    height: 214px;
}

.video-box h3 {
    font-size: 22px;
    padding-left: 20px;
    margin-bottom: 12px;
}

.video-box p {
    font-size: 16px;
    padding-left: 20px;
    color: #FFFFFF;
    line-height: 1.5;
    margin-bottom: 12px;
}

.video-time {
    display: flex;
    align-items: center;
    gap: 6px;
    padding-left: 20px;
    margin-bottom: 12px;
}

.host-title {
    text-align: center;
    font-size: 48px;
    margin-top: 120px;
}

.host-card {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #250D44;
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 40px;
    border-radius: 20px;
}

.host-image img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.host-content h3 {
    font-size: 32px;
    margin-bottom: 16px;
}

.host-content p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 16px;
}

.social-icon {
    display: flex;
    gap: 8px;
}

.social-icon img {
    width: 15px;
    height: 15px;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid #533C72;
    object-fit: contain;
}

.footer-section {
    background: url(assets/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #FFFFFF;
    padding: 60px;

}

.footer-content {
    max-width: 1360px;
    margin: 0 auto;
    
}

.footer-content h1 {
    font-size: 60px;
    margin-bottom: 20px;
    font-weight: 700;
}

.footer-image {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.image-box{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 20px;
}

.image-box p{
    font-size: 16px;
    text-align: center;
}
.footer-p{
    font-size: 16px;
    margin-bottom: 20px;
}
